<div id="ref-index">
  <h2>Data Statuses</h2>

  <p>This is a Cromby system table and should not be updated</p>

  <table>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>

    <% @data_statuses.each do |data_status| %>
      <tr class="<%= cycle('index-line-odd', 'index-line-even') %>">
        <td><%=h data_status.code %></td>
        <td><%=h data_status.description %></td>
        <td><%= link_to 'View', data_status %></td>
      </tr>
    <% end %>
  </table>
</div>
<br />
<div id="lower-menu">
  <p><%= link_to 'Home', :controller => "home" %></p>
</div>