<div id="ref-show">

<h2>Data Status Details</h2>

<table>
<tr>
  <td class="title-cell"><b>Code</b></td>
  <td><%=h @data_status.code %></td>
</tr>

<tr>
  <td class="title-cell"><b>Description</b></td>
  <td><%=h @data_status.description %></td>
</tr>

<tr>
  <td class="title-cell"><b>Created by</b></td>
  <td><%=h @data_status.created_by %></td>
</tr>

<tr>
  <td class="title-cell"><b>Created date time</b></td>
  <td><%=h @data_status.created_date_time %></td>
</tr>

<tr>
  <td class="title-cell"><b>Updated by</b></td>
  <td><%=h @data_status.updated_by %></td>
</tr>

<tr>
  <td class="title-cell"><b>Updated date time</b></td>
  <td><%=h @data_status.updated_date_time %></td>
</tr>
</table>
</div>
<br />
<div id="lower-menu">
  <p><%= link_to 'Back', data_statuses_path %></p>
</div>