<h1>New Contact Point Usage Type</h1>

<% form_for(@contact_point_usage_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<div id="lower-menu">
  <p><%= link_to 'Back', contact_point_usage_types_path %></p>
</div>