  <% form_tag do %>
    <fieldset>

      <div>
        <label for="name">Username:</label>
        <%= text_field_tag :user_name, params[:user_name] %>
      </div>

      <div>
        <label for="password">Password:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <% if @days_til_expiry then %>
        <%=h @days_til_expiry %>
        <div>
          <label for="password">New Password:</label>
          <%= password_field_tag :new_password, params[:new_password] %>
        </div>
        <div>
          <label for="password">Confirmation:</label>
          <%= password_field_tag :new_password_confirmation, params[:new_password_confirmation] %>
        </div>
        <div>
          <%= submit_tag "Change" %>
        </div>
      <%  else %>
        <div>
          <%= submit_tag "Login" %>
        </div>
      <% end %>

    </fieldset>
  <% end %>
