<h1>Editing view_user</h1>

<% form_for(@view_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :user_uuid %><br />
    <%= f.text_field :user_uuid %>
  </p>
  <p>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </p>
  <p>
    <%= f.label :days_until_password_expiry %><br />
    <%= f.text_field :days_until_password_expiry %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @view_user %> |
<%= link_to 'Back', view_users_path %>